<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
</head>
<body>
    <header>
        <h4>Craftsy</h2>
        <4av>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">login</a></li>
                <li><a href="">registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="home__main__section__products">
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-01.jpg" alt="phone01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-02.jpg" alt="phone02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-03.jpg" alt="phone03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-01.jpg" alt="phone01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-02.jpg" alt="phone02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-03.jpg" alt="phone03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique fuga sint perspiciatis eligendi voluptatem asperiores nesciunt, in sed? Nihil, voluptatibus.</p>
                <a href="">ver más</a>
            </article>
        </section>
        <aside>
            <div>
                <h3>Tutoriales</h3>
                <section>
                    <article>
                        <img src="/img/aside-01.jpg" alt="tutorial1">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article>
                        <img src="/img/aside-02.jpg" alt="tutorial2">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article>
                        <img src="/img/aside-03.jpg" alt="tutorial3">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article>
                        <img src="/img/aside-04.jpg" alt="tutorial4">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                </section>
            </div>
            <div>
                <h3>Publicidad</h3>
                <section>
                    <article> 
                        <img src="/img/publi-01.jpg" alt="publicidad">
                    </article>
                    <article> 
                        <img src="/img/publi-02.jpg" alt="publicidad">
                    </article>
                </section>
            </div>
        </aside>
    </main>
    <footer></footer> 
</body>
</html>
