<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/cce5efbb78.js" crossorigin="anonymous"></script>
    <title>Craftsy</title>
</head>
<body class="home">
    <header class="home__header">
        <img class="home__header--logo" src="/img/logo.png" alt="logo">
        <nav class="home__header__nav">
            <ul>
                <li class="home__header__nav__ul__li"><a href="">smartphones</a></li>
                <li class="home__header__nav__ul__li"><a href="">tablets</a></li>
                <li class="home__header__nav__ul__li"><a href="">computadoras</a></li>
            </ul>
        </nav>
        <nav class="home__header__nav--login">
            <ul>
                <li class="home__header__nav--login--ul--li"><a href="">login</a></li>
                <li class="home__header__nav--login--ul--li"><a href="">registro</a></li>
            </ul>
        </nav>
        <a class="home__header__nav--menu" href=""><i class="fa-solid fa-bars" style="color: #f4ede5;"></i></a>
    </header>
    <main class="home__main">
        <section class="home__main__section__products">
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-01.jpg" alt="phone01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-02.jpg" alt="phone02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-03.jpg" alt="phone03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-01.jpg" alt="phone01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-02.jpg" alt="phone02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
            <article class="home__main__section__products--product">
                <img src="/img/img-phone-03.jpg" alt="phone03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae at quidem reiciendis impedit perspiciatis modi.</p>
                <a class="home__main__section__products--more" href="">ver más</a>
            </article>
        </section>
        <aside class="home__aside">
            <div class="home__aside__div__tuto">
                <h3 class="home__aside__div--title">Tutoriales</h3>
                <section>
                    <article class="home__aside__div__tuto-tutoriales">
                        <img src="/img/aside-01.jpg" alt="tutorial1">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article class="home__aside__div__tuto-tutoriales">
                        <img src="/img/aside-02.jpg" alt="tutorial2">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article class="home__aside__div__tuto-tutoriales">
                        <img src="/img/aside-03.jpg" alt="tutorial3">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                    <article class="home__aside__div__tuto-tutoriales">
                        <img src="/img/aside-04.jpg" alt="tutorial4">
                        <a href="">Titulo del tutorial de reparación</a>
                    </article>
                </section>
            </div>
            <div class="home__aside__div__ads">
                <h3 class="home__aside__div--title">Publicidad</h3>
                <section class="home__aside__div__ads__section">
                    <article class="home__aside__div__ads__section--ad"> 
                        <img src="/img/publi-01.jpg" alt="publicidad">
                    </article>
                    <article class="home__aside__div__ads__section--ad"> 
                        <img src="/img/publi-02.jpg" alt="publicidad">
                    </article>
                </section>
            </div>
        </aside>
    </main>
    <footer class="home__footer">
        <img src="/img/logo.png" alt="">
        <nav class="home__footer__nav">
            <ul>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
    </footer> 
</body>
</html>
